{% extends "main.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <h1>Изменение пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введи свой пароль два раза</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка для востановления пароля не верна, возможно она уже была использованна.
            Запросите ссылка для востановления пароля снова.</p>
    {% endif %}
{% endblock %}